<!-- <app-por-capital></app-por-capital>
<app-por-pais></app-por-pais>
<app-por-region></app-por-region>
<app-sidebar></app-sidebar>
<app-ver-pais></app-ver-pais> -->

<div class="row container mt-4">
  <div class="col-3">
    <h2>Busquedas</h2>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">Buscar pais</li>
      <li class="list-group-item">Por capital</li>
      <li class="list-group-item">Por capital</li>
    </ul>
  </div>

  <!-- Este div debe ser dinamico, basado en la url, es decir si estoy en el /capital  -->
  <!-- si estoy en /region, se debe mostrar el componente por region  -->
  <div class="col">
    <h2>Por capital</h2>
    <hr>
    <app-por-capital></app-por-capital>
  </div>
  
</div>

