<h2>Por Pais</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- pais-input -->
        <!-- desde pais-input voy a emitir el termino y voy a llamar al metodo buscar -->
            <app-pais-input 
            (onEnter)="buscar($event)"
            (onDebounce)="sugerencias($event)"
            placeholder="Buscar país..."
            >
        </app-pais-input>
        <!-- end pais-input -->
    </div>
</div>

<hr>

<div *ngIf="hayError" class="alert alert-danger">
    No se encontro nada con el término {{termino}}
</div>

<div *ngIf="!hayError" class="row">
    <div class="col">
        <!-- pais tabla -->
        <!-- se envia como argumento "paises" -->
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        <!-- end pais-tabla -->
    </div>
</div>