<h1>
    Dragon Ball Z
</h1>
<HR>

<div class="row">
    
    <!-- Estamos asociando una propiedad del componentes 
        [personales] esta definido en MainPage
        = "personajes" esta definido en el componente hijo Personajes
        El componente hijo debe definir @input() personajes
    -->
    <app-personajes [personajes]="personajes"></app-personajes >

    <div class="col">
        <h3>Agregar</h3>
        <hr>
        <!-- el metodo agregar recibe el evento
            [] para establecer propiedad a un elemento, o emitir
            () escuchar eventos
            [(ngModel)] representa el concepto de two way databinding
            es decir emite como recibe propiedades o eventos
         -->
        <app-agregar [personajes]="personajes"></app-agregar>

    </div>

</div>